.learn {
  margin: 12rem 0 0 0;
  &__header {
    &__heading {
      font-weight: 600;
      color: $color-primary;
    }
  }

  &__content {
    margin: 5rem;
    display: grid;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));

    @include respond(small-phone) {
      width: 100%;
      margin: 0 auto;
    }

    &__cardlink {
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
  }
}
