// COLORS
$color-primary: #ce2e2e;
$color-secondary: #0e9e4f;
$color-background: #eeeeee;

$color-white: #fcfcfc;
$color-black: #000;
$color-grey: #d8d8d8;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
